@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@200&display=swap");

.Home_container__bCOhY {
	padding: 0 2rem
}

.Home_main__nLjiQ {
	min-height: 100vh;
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}

.Home_title__T09hD {
	font-family: Turret Road, cursive;
	margin: 0;
	line-height: 1.15;
	font-size: 6vw
}

.Home_description__41Owk,
.Home_title__T09hD {
	font-family: Turret Road, cursive;
	text-align: center
}

.Home_description__41Owk {
	margin: 4rem 0 0;
	line-height: 1.5;
	font-size: 3vw
}

.Home_icons__MOYrj {
	display: flex;
	gap: .5rem;
	margin: 1rem 0 0
}

.Home_icons__MOYrj svg {
	height: clamp(.1rem, 3vw, 2rem);
	width: clamp(.1rem, 3vw, 2rem);
	transition: .4s ease-in-out
}

.Home_icons__MOYrj svg:hover {
	transform: translateY(-10px);
	transition: .4s ease-in-out
}